.blog-categories{
    padding: 20px;
    padding-top: 8px;
}
.blog-categories ul{
    list-style: none;
    margin-left: -40px;
    font-size: 20px;
}
.blog-categories ul li a{
    text-decoration: none;
    color: grey;
    
}
.blog-categories ul li a:hover{
    color: orange;
}
li {
    display: inline;
}
.span-categories{
    color: rgb(95, 95, 95);
    margin-left: 10px;
    margin-right: 10px;
}
.right-side-products{
    width: 33.33%;
    float: right;
}
.center-products{
    width: 33.33%;
    margin: 0 auto;
}
.left-side-products{
    width: 33.33%;
    float: left;
    margin-top: -427px;
}
.every-item{
   padding-left: 63px;
}
.heading-category{
    font-weight: 60;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
}
.par-category{
    color: rgb(95, 95, 95);
    width: 300px;
}
.product-blog{
    margin-top: 30px;
}
.second-col-right{
    margin-top: 30px;
}
.second-col-center{
    margin-top: 48px;
}
.second-col-left{
    margin-top: -410px;
}