#nike-shoe{
    height: 90%;
    margin: 10px;
    margin-top: 3rem;
}

#puma-shoe{
    height: 90%;
    width: 90%;
    margin: 10px;
}

#vans-shoe{
    height: 90%;
    width: 90%;
    margin: 10px;
}